<%- include('./partials/_header.ejs'); %>
<%- include('./partials/_initAnimation.ejs'); %>

<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">

    <center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl'>Contact Us</h1>
        <p>Got questions? We got answers!</p>
    </center>
    <div>
        <center>
            <p class='md:mx-40 sm:mx-10 mt-11 mx-10 text-lg max-w-3xl'>
                We love questions! If you have any concerns or inquiries, please fill out the form below and we will
                provide
                a response as soon as possible! Please look in the FAQ section before you ask ask a question.
            </p>
        </center>
    </div>

    <form class="w-full max-w-lg mx-auto mt-20">
        <div class="flex flex-wrap mb-6">
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block tracking-wide text-sm mb-2" for="grid-first-name">
              Name
            </label>
            <input id='name-inp' class="transition appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text">
            <!-- <p id='error1' class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>
          
        </div>
        <div class="flex flex-wrap mb-6">
          <div class="w-full px-3">
            <label class="block tracking-wide text-sm mb-2" for="grid-password">
              E-mail
            </label>
            <input id='email-inp' class="transition appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" type="email">
            <!-- <p id='error2' class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>
        </div>
        <div class="flex flex-wrap mb-6">
          <div class="w-full px-3">
            <label class="block tracking-wide text-sm mb-2" for="grid-password">
              Message
            </label>
            <textarea id='message-inp' class="transition no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"></textarea>
          </div>
        </div>
        <div class="md:flex md:items-center mx-3">
          <div class='w-full'>
            <button
            onclick='addData();' type='button'
            class="transition w-full px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Send</button>
          </div>
         
        </div>
      </form>

    <div>
        <center>
            <h1 style='font-weight: bold; ' class='text-4xl mt-44 lg:text-4xl sm:text-3xl'>FAQ</h1>
            <p>Get your questions answered</p>
        </center>
        <center>
            <div class="h-screen w-screen md:flex md:justify-center">
                <div class="mx-2">

                    <div class="w-full font-bold text-2xl text-black px-6 pt-4 text-center mb-2">
                        General Tutoring
                    </div>
                    <div class="bg-white max-w-xl mx-auto border-gray-200" x-data="{selected:null}">
                        <ul>

                            <li class="relative border-b border-gray-200">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 1 ? selected = 1 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            How will tutoring sessions be held? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container1"
                                    x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        Right now, our tutoring sessions are held on either Google Meet or Zoom. If you
                                        are interested, please sign up on the "Sign Up" Page

                                    </div>
                                </div>

                            </li>


                            <li class="relative border-b border-gray-200">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 2 ? selected = 2 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            How long are tutoring sessions? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container2"
                                    x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        Tutoring sessions may vary depending on your needs and the tutor availability.
                                        Sessions tend to go from 45 minutes to an hour.

                                    </div>
                                </div>

                            </li>


                            <li class="relative border-b border-gray-200">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 3 ? selected = 3 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            How will I know if my tutoring session has been confirmed? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container3"
                                    x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        We will send a messge asking you to confirm immediately after you sign up, so
                                        please respond to the message acknowledging that you saw it so that our tutor
                                        can also make it to your requested time.

                                    </div>
                                </div>

                            </li>
                            <li class="relative border-b border-gray-200">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 4 ? selected = 4 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            What is the difference between one-time and recurring sessions? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container4"
                                    x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        One time sessions is exactly what it sounds like. If you need help with one
                                        topic and do not need more than one session, this session is suited for you. On
                                        the other hand, if you would like long time tutoring where you would meet with a
                                        tutor on a consistent basis, (e.g. every two weeks) you can sign up for a
                                        recurring session.


                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
                <div class="mx-2">

                    <div class="w-full font-bold text-2xl text-black px-6 pt-4 text-center">
                        Become a Tutor
                    </div>
                    <div class="bg-white max-w-xl mx-auto border-gray-200">
                        <ul>

                            <li class="relative border-b border-gray-200" x-data="{selected:null}">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 1 ? selected = 1 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            How can I apply to become a tutor? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container1"
                                    x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        <p>We are always looking for more tutors! You can visit the "Become a Tutor"
                                            page to sign up.</p>

                                    </div>
                                </div>

                            </li>


                            <li class="relative border-b border-gray-200" x-data="{selected:null}">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 2 ? selected = 2 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            After you submit your application, we will review it and give you a response within a week.</span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container2"
                                    x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        <p>Being a tutor is actually not time consuming. You do not need to commit every
                                            week and you would only tutor when a student is available</p>
                                    </div>
                                </div>

                            </li>


                            <li class="relative border-b border-gray-200" x-data="{selected:null}">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 3 ? selected = 3 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            How much committment does being a tutor require? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container3"
                                    x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        <p>Being a tutor is actually not time consuming. You do not need to commit every
                                            week and you would only tutor when a student is available</p>
                                    </div>
                                </div>

                            </li>
                            <li class="relative border-b border-gray-200" x-data="{selected:null}">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 4 ? selected = 4 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            How will I get a student to tutor? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container4"
                                    x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        <p>If you are accepted, you will receive an invitation to join our Slack
                                            Workspace, where we have an automated system once a student signs up that
                                            lists the course that they need help in. If you are interested in tutoring
                                            the student, you can let us know and you can go ahead and set up the
                                            session.</p>
                                    </div>
                                </div>

                            </li>
                            <li class="relative border-b border-gray-200" x-data="{selected:null}">

                                <button type="button" class="w-full px-8 py-6 text-left"
                                    @click="selected !== 5 ? selected = 5 : selected = null">
                                    <div class="flex items-center justify-between">
                                        <span>
                                            Will I be receiving community service hours? </span>
                                        <span class="ico-plus"></span>
                                    </div>
                                </button>

                                <div class="relative overflow-hidden transition-all max-h-0 duration-700"
                                    x-ref="container5"
                                    x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''">
                                    <div class="p-6 text-left">
                                        <p>Yes, you will receive community service hours for each session you complete
                                            as well as finishing the tutoring training.</p>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="mb-20">

            </div>

        </center>
    </div>
</div>

</div>
</div>



<!-- <script>

    Email.send({
        Host : "smtp.yourisp.com",
        Username : "username",
        Password : "password",
        To : 'them@website.com',
        From : "you@isp.com",
        Subject : "This is the subject",
        Body : "And this is the body"
    }).then(
      message => alert(message)
    );


</script> -->







<%- include('./partials/_footer.ejs'); %>