<%- include('./partials/_header.ejs'); %>
<%- include('./partials/_initAnimation.ejs'); %>
<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">
<center data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">
    <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl mb-10'>One Time Sign Up</h1>

<iframe class='w-11/12' src="https://docs.google.com/forms/d/e/1FAIpQLScmz4kBlq8kfYMMM43fMuoHTgWRlcoFUoTvmWmmFyDDphu_-Q/viewform?embedded=true" width="640" height="3715" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</center>
</div>
<%- include('./partials/_footer.ejs'); %>
