
<%- include('./partials/_header.ejs'); %>
<%- include('./partials/_initAnimation.ejs'); %>

<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">
<center>
    <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl mb-10'>Tutoring Application</h1>

    <iframe src="https://docs.google.com/forms/u/2/d/1Fy5JJGxbec2TZu0LkmvUHMt2gqAJTum--bHeO0wAa_Y/viewform?embedded=true" width="640" height="3124" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    
</center>
</div>
<%- include('./partials/_footer.ejs'); %>
