<%- include('./partials/_header.ejs'); %>
<%- include('./partials/_initAnimation.ejs'); %>



<div>
    <!-- <div>
        <center>
            <h1 id='title-main' class='animate lg:mt-84 lg:text-8xl md:text-6xl sm:text-4xl mt-80 text-4xl'>PeerLab
                Tutoring</h1>
        </center>
        <center>
            <p id='title-sub' class='animate lg:text-5xl md:text-3xl mt-3 text-xl'>Guidance from peers at no cost</p>
        </center>
    </div>
    <center>
        <div class="lg:pt-2 md:pt-5 sm:pt-10 xl:pt-10 pt-20">
            <button id='main-btn' onclick='window.location.href="/signup"'
                class="transition px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Sign Up</button>
        </div>
    </center> -->
    
    <div class="relative w-full h-full pb-10 mt-12" data-aos="smooth" data-aos-delay="0"
        data-aos-easing="ease-in-out-cubic">
        <div class="hidden md:block">
            <img class="absolute bg-cover mt-42 bg-center w-full h-full inset-0" src="/images/bg.png" alt="" />
        </div>


        <div class="relative px-4 xl:px-0 container mx-auto md:flex items-center gap-8">
            <div class="text-color w-full md:w-1/3 pt-36 lg:pt-36">
                <h1 class="text-7xl w-1/2 xl:w-full xl:text-9xl font-black f-f-l">Success Feels Good</h1>
                <div class="f-f-r sm:text-xl md:text-lg lg:text-3xl pb-10 sm:pb-10 md:pt-0 pt-10 sm:pt-20 xl:pt-20">
                    <h2>Guidance from peers at no cost. We help students excel in school and overcome obstacles.
                        <br><br></h2>
                </div>
                <button
                onclick='window.location.href="/signup"'
                class="transition text-xl px-4 w-full xl:text-3xl xl:w-11/12 mt-0 xl:mt-11 f-f-r py-6 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Sign Up</button>
            </div>
            <div class='rellax' data-rellax-speed='5'>
            <img data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic" id='par-img'
                class=" w-full mt-20 md:mt-10 lg:mt-44 object-fill md:-ml-4 lg:-ml-4 xl:ml-0 rounded-3xl "
                src="https://image.freepik.com/free-vector/girl-learn-online-math-tutoring-illustration_301430-5.jpg" />
            </div>
        </div>
    </div>
    <style>
        .top-100 {
            animation: slideDown 0.5s ease-in-out;
        }

        @keyframes slideDown {
            0% {
                top: -50%;
            }

            100% {
                top: 0;
            }
        }

        * {
            outline: none !important;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;
        }
    </style>




    

    <div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">

        <center>
            <h1 style='font-weight: bold; ' class='text-4xl mt-10 sm:mt-52 lg:mt-56 lg:text-4xl sm:text-3xl xl:mt-42'>
                About US</h1>
        </center>

        <center>
            <div class='md:mx-40 sm:mx-10 mt-11 mx-10 text-lg max-w-4xl'>
                <center>PeerLab was founded by Jonathan Chung and Aman Mistry and launched with Justin Hippler in 2020.
                    We
                    desire to give students help from student tutors who were once in their position at no cost. We will
                    teach
                    students strategies and techniques we have developed through our experience in the classroom. We
                    understand
                    having difficulty in classes and falling behind, so we want to help students catch up and even
                    exceed their
                    class expectations.

                    ​

                    <br><br>Contact us today so we can help you build a stronger educational foundation.</center>

                <br>
                <center>
                    <p>
                        <strong>
                            We are currently looking for tutors to apply. If you are interested, please sign up under
                            "Become A
                            Tutor" in the "More" section.
                    </p></strong>
                </center>
            </div>
        </center>
    </div>

    <div id='works' class='mt-10'>
        <div class="container mx-auto flex flex-wrap pt-4 pb-12">
            <div data-aos="smooth" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                class="w-full lg:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden">
                    <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                        Who We Are
                    </div>
                    <p class="text-black text-base px-10 py-5 text-center ">PeerLab Tutoring is a student-based FREE
                        tutoring organization based in Smithtown, NY.
                    </p>
                </div>
            </div>
            <div data-aos="smooth2" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden ">
                    <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                        Our Mission
                    </div>
                    <p class="text-black text-base px-10 pt-5 mb-5 text-center ">We aim to help students excel in school
                        and
                        overcome any learning obstacles<br><br>
                    </p>
                </div>

            </div>
            <div data-aos="smooth3" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden ">
                    <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                        What We Can Do
                    </div>
                    <p class="text-black text-base px-10 pt-5 mb-5 text-center ">
                        We can help you with everything from a one-time question to sessions throughout the year. Check
                        out the rest of our site to get more details!
                    </p>
                </div>

            </div>
        </div>

        <div class='w-full bg-indigo-500 lg:h-80 '>
            <center>
                <p data-aos="smooth" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                    class='text-white pt-24 text-lg mx-10'>We have great resources to help anybody succeed</p>
            </center>
            <center>
                <div>
                    <div class="container mx-auto flex flex-wrap">
                        <div id='trigger' data-aos="smooth" data-aos-delay="50" data-aos-duration="500"
                            data-aos-easing="ease-in-out-cubic"
                            class="w-full lg:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                            <div class="flex-1 rounded-lg overflow-hidden">
                                <div id='num1' class="w-full font-bold text-8xl text-white px-6 pt-3 text-center ">

                                </div>
                                <p class="text-white text-base px-10 text-center ">Tutors
                                </p>
                            </div>

                        </div>
                        <div data-aos="smooth2" data-aos-delay="100" data-aos-duration="500"
                            data-aos-easing="ease-in-out-cubic"
                            class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                            <div class="flex-1 rounded-lg overflow-hidden ">
                                <div id='num2' class="w-full font-bold text-8xl text-white px-6 pt-3 text-center ">

                                </div>
                                <p class="text-white text-base px-10 text-center ">Courses Covered
                                </p>
                            </div>
                        </div>
                        <div data-aos="smooth3" data-aos-delay="100" data-aos-duration="500"
                            data-aos-easing="ease-in-out-cubic"
                            class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                            <div class="flex-1 rounded-lg overflow-hidden ">
                                <div id='num3' class="w-full font-bold text-8xl text-white px-6 pt-3 text-center ">

                                </div>
                                <p class="text-white text-base px-10 text-center ">Study Resources
                                </p>
                                </p>
                            </div>

                        </div>
                    </div>
            </center>
        </div>

        <center data-aos="smooth" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out-cubic">
            <div class='md:w-2/3 w-full mt-40'>
                <div class='rounded p-4'>
                    <img src='/images/patch.png'>
                </div>
                <div class=''>
                    <p class='text-2xl mb-10 w-11/12'>
                        We were featured on the Smithtown Patch! Thank you to all our tutors for volunteering.
                    </p>

                </div>
                <div>
                </div>
                <button
                    onclick='window.location.href="https://patch.com/new-york/smithtown/smithtown-hs-east-juniors-launch-free-tutoring-service-suffolk"'
                    class="transition  px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Take a
                    look</button>
            </div>
        </center>


    


        <div data-aos="smooth" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out-cubic">
            <center>
                <h1 style='font-weight: bold' class='text-4xl mt-52   sm:mt-52 lg:mt-72 lg:text-4xl  sm:text-3xl'>What
                    People
                    Are
                    Saying</h1>
            </center>

            <center>

                <div class='mt-10 mx-2'>
                    <div>
                        <div class="w-full transition hover:shadow-xl  rounded-lg bg-white  px-5 pt-5 pb-10 text-gray-800"
                            style="max-width: 1000px">

                            <div class="w-full mb-0">
                                <div class="text-5xl text-indigo-500 text-left leading-tight h-7">“</div>
                                <p class="text-lg text-gray-600 text-center md:px-5 px-2 ">This was an excellent
                                    experience for my
                                    son... The tutor was extremely helpful, encouraging, and went above and beyond to
                                    help
                                    him
                                    with the subject matter. Even made up some test questions! I am amazed at how
                                    professional
                                    and mature this young man is. Thank you for doing this!</p>
                                <div class="text-5xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div>
                    <div class=" mx-0 py-5 ">
                        <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4 text-gray-800"
                            style="max-width: 1000px">

                            <div class="w-full pt-7 pb-7 ">
                                <div class="text-5xl text-indigo-500 text-left leading-tight h-7">“</div>
                                <p class="text-lg text-gray-600 text-center md:px-5 px-2">The tutor was very
                                    informative,
                                    knowledgeable, and patient with me. He answered all my questions and left me
                                    understanding and grasping the concept better.</p>
                                <div class="text-5xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
                            </div>

                        </div>
                    </div>

                </div>

            </center>
        </div>
    </div>

    <div class="dialog rounded-xl shadow-2xl">
        <span class="dialog__close">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mt-2" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
        <h2 class="dialog__title" style='font-weight: bold'><strong>Covid-19 Info</strong></h2>
        <div class="dialog__content ">
            <p>Due to the COVID-19 pandemic, we are holding all of our TUTORING SERVICES ON ZOOM AND GOOGLE MEET. There
                will be no in-person sessions for the time being. Please check out the FAQs section on our Contact Us
                page if you have more questions.</p>
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="cbx1" name="cbx1" type="checkbox"
                        class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                </div>
                <div class="ml-3 text-sm">
                    <label for="comments" class="font-medium text-gray-700">Dont show again</label>
                </div>
            </div>
        </div>

    </div>
    <!-- <center><div id="map" class='rounded'></div></center> -->

    <!-- <script>
        
if ($(document).width() > 768) {
    var rellax = new Rellax('.rellax');
}

let map;

function initMap() {
    const myLatLng = { lat: 40.870950, lng: -73.164850 };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4.3,
      center: myLatLng,
    });
    new google.maps.Marker({
      position: myLatLng,
      map,
    });
   
  }


  $(document).ready(function(){
      initMap();
  })
    </script>

    <style>
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 80%;
            /* The width is the width of the web page */
          }
    </style> -->

 
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEyUM1QKN1fsSccp3JI-YYbS3ADleqMZE&callback=initMap&libraries=&v=weekly"
    async
  ></script>

  

    <%- include('./partials/_footer.ejs'); %>