<%- include('./partials/_header.ejs'); %>
<%- include('./partials/_initAnimation.ejs'); %>



<div>
    <!-- <div>
        <center>
            <h1 id='title-main' class='animate lg:mt-84 lg:text-8xl md:text-6xl sm:text-4xl mt-80 text-4xl'>PeerLab
                Tutoring</h1>
        </center>
        <center>
            <p id='title-sub' class='animate lg:text-5xl md:text-3xl mt-3 text-xl'>Guidance from peers at no cost</p>
        </center>
    </div>
    <center>
        <div class="lg:pt-2 md:pt-5 sm:pt-10 xl:pt-10 pt-20">
            <button id='main-btn' onclick='window.location.href="/signup"'
                class="transition px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Sign Up</button>
        </div>
    </center> -->

    <div class="relative w-full h-full pb-10 mt-12" data-aos="smooth" data-aos-delay="0"
        data-aos-easing="ease-in-out-cubic">
        <div class="hidden md:block">
            <img class="absolute bg-cover mt-42 bg-center w-full h-full inset-0" src="/images/bg.png" alt="" />
        </div>


        <div class="relative px-4 xl:px-0 container mx-auto md:flex items-center gap-8">
            <div class="text-color w-full md:w-1/3 pt-36 lg:pt-36">
                <h1 class="text-7xl w-1/2 xl:w-full xl:text-9xl font-black f-f-l">Success Feels Good</h1>
                <div class="f-f-r sm:text-xl md:text-lg lg:text-3xl pb-10 sm:pb-10 md:pt-0 pt-10 sm:pt-20 xl:pt-20">
                    <h2>Guidance from peers at no cost. We help students excel in school and overcome obstacles.
                        <br><br></h2>
                </div>
                <button onclick='window.location.href="/signup"'
                    class="transition text-xl px-4 w-full xl:text-3xl xl:w-11/12 mt-0 xl:mt-11 f-f-r py-6 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Sign
                    Up</button>
            </div>
            <div class='rellax' data-rellax-speed='5'>
                <img data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic" id='par-img'
                    class=" w-full mt-20 md:mt-10 lg:mt-44 object-fill md:-ml-4 lg:-ml-4 xl:ml-0 rounded-3xl "
                    src="https://image.freepik.com/free-vector/girl-learn-online-math-tutoring-illustration_301430-5.jpg" />
            </div>
        </div>
    </div>
    <style>



    </style>


    <div id='works' class='mt-10'>
        <div class="container mx-auto flex flex-wrap pt-4 pb-12">
            <div data-aos="smooth" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                class="w-full lg:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden">
                    <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                        Who We Are
                    </div>
                    <p class="text-black text-base px-10 py-5 text-center ">PeerLab Tutoring is a student-based FREE
                        tutoring organization based in Smithtown, NY.
                    </p>
                </div>
            </div>
            <div data-aos="smooth2" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden ">
                    <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                        Our Mission
                    </div>
                    <p class="text-black text-base px-10 pt-5 mb-5 text-center ">We aim to help students excel in school
                        and
                        overcome any learning obstacles<br><br>
                    </p>
                </div>

            </div>
            <div data-aos="smooth3" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden ">
                    <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                        What We Can Do
                    </div>
                    <p class="text-black text-base px-10 pt-5 mb-5 text-center ">
                        We can help you with everything from a one-time question to sessions throughout the year. Check
                        out the rest of our site to get more details!
                    </p>
                </div>

            </div>
        </div>





        <div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">

            <center>
                <h1 style='font-weight: bold;' class='text-4xl mt-10 lg:text-4xl sm:text-3xl'>
                    About US</h1>
            </center>

            <center>
                <div class='md:mx-40 sm:mx-10 mt-11 mx-10 text-lg max-w-4xl'>
                    <center>PeerLab was founded by Jonathan Chung and Aman Mistry and launched with Justin Hippler in
                        2020.
                        We
                        desire to give students help from student tutors who were once in their position at no cost. We
                        will
                        teach
                        students strategies and techniques we have developed through our experience in the classroom. We
                        understand
                        having difficulty in classes and falling behind, so we want to help students catch up and even
                        exceed their
                        class expectations.

                        ​

                        <br><br>Contact us today so we can help you build a stronger educational foundation.</center>

                    <br>
                    <center>
                        <p>
                            <strong>
                                We are currently looking for tutors to apply. If you are interested, please sign up
                                under
                                "Become A
                                Tutor" in the "More" section.
                        </p></strong>
                    </center>
                </div>
            </center>
            <center><button onclick='window.location.href="/tutor/"'
                    class="transition  px-4 bg-indigo-500 p-3 rounded-lg text-white my-5 hover:bg-indigo-400">Become A
                    Tutor</button></center>
        </div>



        <div class='w-full bg-indigo-500 lg:h-80 '>
            <center>
                <p data-aos="smooth" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
                    class='text-white pt-24 text-lg mx-10'>We have great resources to help anybody succeed</p>
            </center>
            <center>
                <div>
                    <div class="container mx-auto flex flex-wrap">
                        <div id='trigger' data-aos="smooth" data-aos-delay="50" data-aos-duration="500"
                            data-aos-easing="ease-in-out-cubic"
                            class="w-full lg:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                            <div class="flex-1 rounded-lg overflow-hidden">
                                <div id='num1' class="w-full font-bold text-8xl text-white px-6 pt-3 text-center ">
                                </div>
                                <p class="text-white text-base px-10 text-center ">Tutors
                                </p>
                            </div>

                        </div>
                        <div data-aos="smooth2" data-aos-delay="100" data-aos-duration="500"
                            data-aos-easing="ease-in-out-cubic"
                            class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                            <div class="flex-1 rounded-lg overflow-hidden ">
                                <div id='num2' class="w-full font-bold text-8xl text-white px-6 pt-3 text-center ">

                                </div>
                                <p class="text-white text-base px-10 text-center ">Sessions
                                </p>
                            </div>
                        </div>
                        <div data-aos="smooth3" data-aos-delay="100" data-aos-duration="500"
                            data-aos-easing="ease-in-out-cubic"
                            class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                            <div class="flex-1 rounded-lg overflow-hidden ">
                                <div id='num3' class="w-full font-bold text-8xl text-white px-6 pt-3 text-center ">

                                </div>
                                <p class="text-white text-base px-10 text-center ">States
                                </p>
                                </p>
                            </div>

                        </div>
                        <div data-aos="smooth3" data-aos-delay="100" data-aos-duration="500"
                            data-aos-easing="ease-in-out-cubic"
                            class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                            <div class="flex-1 rounded-lg overflow-hidden ">
                                <div id='num4' class="w-full font-bold text-8xl text-white px-6 pt-3 text-center ">

                                </div>
                                <p class="text-white text-base px-10 text-center ">Countries
                                </p>
                                </p>
                            </div>

                        </div>
                    </div>
            </center>
        </div>

        <center style='display:block; height:500px !important; margin:0 auto 100px;' data-aos="smooth" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out-cubic">
            <div class="owl-carousel">
                <div class='md:w-2/3 w-full mt-40'>
                    <div class='rounded p-4'>
                        <img src='/images/patch.png'>
                    </div>

                    <div>
                    </div>
                    <button
                        onclick='window.location.href="https://patch.com/new-york/smithtown/smithtown-hs-east-juniors-launch-free-tutoring-service-suffolk"'
                        class="transition  px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Take a
                        look</button>
                </div>
                <div class='md:w-2/3 w-full mt-40'>
                    <div class='rounded p-4'>
                        <img src='/images/tbr.png'>
                    </div>

                    <button onclick='window.location.href="https://tbrnewsmedia.com/tag/peerlab-tutoring/"'
                        class="transition  px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Take a
                        look</button>
                </div>
                <div class='md:w-2/3 w-full mt-40'>
                    <div class='rounded p-4'>
                        <img src='/images/smithtown.jpeg'>
                    </div>
                    <div>
                    </div>
                </div>
                
            </div>
            <div class="owl-controls z-50">
                <div class="owl-nav flex justify-center mt-3 space-x-3">
                    <div class="transition owl-prev bg-gray-100 rounded-xl p-2 hover:bg-indigo-500 hover:text-white cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
                      </svg></div>
                    <div class="transition owl-next bg-gray-100 rounded-xl p-2 hover:bg-indigo-500 hover:text-white cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                      </svg></div>
                </div>

        </center>


        <div data-aos="smooth" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out-cubic">
            <center>
                <h1 style='font-weight: bold; margin-top: 450px;' class='text-4xl mt-52  sm:mt-52 lg:mt-72 lg:text-4xl sm:text-3xl'>
                    Partnerships</h1>
            </center>
            <br />
            <center>
            <div class="flex space-x ">
            <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                <div>
                    <div class=" mx-0">
                        <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-2 pt-2 pb-4"
                            style="max-width: 1000px; height:300px;">
                            <center>
                            <div class="w-full pb-7 ">
                                <a href="https://www.1degree.org/?p=badge" target="_blank" style="border: 0;"><img alt="One Degree" src="https://www.1degree.org/badge?badge=shield" width="250" /></a>
                            </div>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                <div>
                    <div class=" mx-0">
                        <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-2 pt-2 pb-4"
                            style="max-width: 1000px; height:300px;">
                            <center>
                            <div class="w-full pb-7 ">
                                <a href="https://itforchildren.org/" target="_blank" style="border: 0;"><img alt="IT for Children" src="https://i.ytimg.com/vi/453c9gPLuwY/mqdefault.jpg" width="250" /></a>
                            </div>
                        </center>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                <div>
                    <div class=" mx-0">
                        <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-2 pt-2 pb-4"
                            style="max-width: 1000px; height:300px;">
                            <center>
                            <div class="w-full pb-7 ">
                                <a href="https://africaictright.org/" target="_blank" style="border: 0;"><img alt="Africa ICT" src="https://africaictright.org/wp-content/uploads/2017/03/AIR-LOGO-Transparent-Horizontal.jpg.png" width="250" /></a>
                            </div>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
            <div>
                <div class=" mx-0">
                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-2 pt-2 pb-4 mx-auto"
                        style="max-width: 1000px; height:300px;">
                        <center>
                        <div class="w-full pb-7 ">
                            <a href="https://www.childrenreachout.org/" target="_blank" style="border: 0;"><img alt="Children Reachout Uganda" src="https://www.childrenreachout.org/wp-content/uploads/2021/05/cropped-CHIDRENREACHOUT-LOGO.jpg" width="250" /></a>
                        </div>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </center>

    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <div data-aos="smooth" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
            class="w-full lg:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden">
                <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                    Press Recognition
                </div>
                <center  class="text-black text-base px-10 pt-5 mb-5 text-center ">
                    <br><a href="https://patch.com/new-york/smithtown/smithtown-hs-east-juniors-launch-free-tutoring-service-suffolk" target="_blank" style="border: 0;">Patch.com</a>
                    <br><a href="https://tbrnewsmedia.com/tag/peerlab-tutoring/" target="_blank" style="border: 0;">TBR News Media</a>
                    <br><a href="https://www.dailyadvent.com/tag/peerlab-tutoring" target="_blank" style="border: 0;">Daily Advent</a>
                    <br><a href="https://issuu.com/tbrmedia/docs/ts_031121" target="_blank" style="border: 0;">Issuu</a>
                </center>
            </div>
        </div>
        <div data-aos="smooth3" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in-out-cubic"
            class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="transition hover:shadow-xl flex-1 rounded-lg overflow-hidden ">
                <div class="w-full font-bold text-2xl text-black px-6 pt-5 text-center ">
                    Government Sites
                </div>
                <center  class="text-black text-base px-10 pt-5 mb-5 text-center ">
                    <br><a href="https://www.newyorkbusinessgo.com/company/6015849/" target="_blank" style="border: 0;">New York Business Go</a>
                    <br><a href="https://newyork-company.com/co/peerlab-tutoring-inc" target="_blank" style="border: 0;">New York Company</a>
                    <br><a href="https://opencorporates.com/companies/us_ny/6015849" target="_blank" style="border: 0;">Open Corporates</a>
                    <br><a href="https://opencorpdata.com/us-ny/6015849" target="_blank" style="border: 0;">Open Corporate Data</a>
                </center>
            </div>

        </div>

        </div>

        <div data-aos="smooth" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out-cubic">
            <center>
                <h1 style='font-weight: bold; margin-top: 100px;' class='text-4xl mt-52  sm:mt-52 lg:mt-72 lg:text-4xl sm:text-3xl'>
                    Accomplishments</h1>
            </center>

            <center>

                <div class='mt-10 mx-5'>
                    <div class="flex flex-wrap -mx-1 overflow-hidden xl:-mx-3">

                        <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                            <div>
                                <div class=" mx-0 py-5 ">
                                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4 text-gray-800"
                                        style="max-width: 1000px">

                                        <div class="w-full pt-7 pb-7 ">
                                            <svg xmlns="https://www.w3.org/2000/svg" class="h-14 w-14 mb-2" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                            </svg>
                                            <h1 class="text-4xl  text-center md:px-5 px-2">5+ States</h1>
                                            <p>We have worked in over 5 states including New York, California,
                                                Washington, New Jersey, and more</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                            <div>
                                <div class=" mx-0 py-5 ">
                                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4"
                                        style="max-width: 1000px">

                                        <div class="w-full pt-7 pb-7 ">
                                            <svg xmlns="https://www.w3.org/2000/svg" class="h-14 w-14 mb-2" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                            </svg>
                                            <h1 class="text-4xl  text-center md:px-5 px-2">Partnerships</h1>
                                            <p>We have partnered with schools across the country including Monte Vista,
                                                Cowlitz, Life Source Charter School, and The New School of Monmouth </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                            <div>
                                <div class=" mx-0 py-5 ">
                                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4"
                                        style="max-width: 1000px">

                                        <div class="w-full pt-7 pb-7 ">

                                            <svg xmlns="https://www.w3.org/2000/svg" class="h-14 w-14 mb-2" viewBox="0 0 256 256">
                                                <rect width="256" height="256" fill="none" />
                                                <path fill="none" stroke="#000" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="20"
                                                    d="M240.71765 121.78477L216 134.14359l-32-61.282 24.9693-12.48465a8 8 0 0 1 10.66912 3.45246l24.59293 47.097A8 8 0 0 1 240.71765 121.78477zM40 133.0718L15.28235 120.713a8 8 0 0 1-3.5137-10.85838l24.59293-47.097A8 8 0 0 1 47.0307 59.30511L72 71.78976zM216 134.14359l-16 18.718L163.20286 189.6587a8 8 0 0 1-7.59714 2.10429L97.64881 177.27376a7.99992 7.99992 0 0 1-2.98764-1.45911L40 133.0718" />
                                                <path fill="none" stroke="#000" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="20"
                                                    d="M200,152.86156l-44-32-12.8,9.6a32,32,0,0,1-38.4,0L99.37926,126.396a8,8,0,0,1-.85685-12.05686l39.13444-39.13444a8,8,0,0,1,5.65686-2.34315H184" />
                                                <path fill="none" stroke="#000" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="20"
                                                    d="M72.57437 71.78976l51.32-14.96153a8 8 0 0 1 5.537.39169L164 72.86156M112 212.86156L81.86056 205.3267a7.99993 7.99993 0 0 1-3.308-1.7233L56 184" />
                                                </svg>
                                            <h1 class="text-4xl  text-center md:px-5 px-2">Work with NGOs</h1>
                                            <p>We work with non-governmental organization including Brown
                                                University, Africa ICT, Children Reachout Uganda, and Itisforchildren.</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                            <div>
                                <div class=" mx-0 py-5 ">
                                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4"
                                        style="max-width: 1000px">

                                        <div class="w-full pt-7 pb-7 ">
                                            <svg xmlns="https://www.w3.org/2000/svg" class="h-14 w-14 mb-2" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                            <h1 class="text-4xl  text-center md:px-5 px-2">250+ Sessions</h1>
                                            <p>We have over 250 sessions of tutoring under our belts.</p>

                                            <p></p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                            <div>
                                <div class=" mx-0 py-5 ">
                                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4"
                                        style="max-width: 1000px">

                                        <div class="w-full pt-7 pb-7 ">
                                            <svg xmlns="https://www.w3.org/2000/svg" class="h-14 w-14 mb-2" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                            </svg>
                                            <h1 class="text-4xl  text-center md:px-5 px-2">70+ Tutors</h1>
                                            <p>We have over 70 tutors that can answer your questions and help your needs</p>

                                            <p></p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="my-1 px-1 w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/3">
                            <div>
                                <div class=" mx-0 py-5 ">
                                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4"
                                        style="max-width: 1000px">

                                        <div class="w-full pt-7 pb-7 ">
                                            <svg xmlns="https://www.w3.org/2000/svg" class="h-14 w-14 mb-2"
                                                data-name="Layer 1" viewBox="0 0 24 24">
                                                <path
                                                    d="M6,11a1,1,0,1,0,1,1A1,1,0,0,0,6,11Zm5.86-1.55h0L4.71,2.29A1,1,0,0,0,3.29,3.71L4.59,5H4A3,3,0,0,0,1,8v8a3,3,0,0,0,3,3H18.59l2.7,2.71a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Zm-.74,2.09,1.34,1.34A1,1,0,0,1,12,13a1,1,0,0,1-1-1A1,1,0,0,1,11.12,11.54ZM4,17a1,1,0,0,1-1-1V8A1,1,0,0,1,4,7H6.59l3.1,3.1A3,3,0,0,0,9,12a3,3,0,0,0,3,3,3,3,0,0,0,1.9-.69L16.59,17ZM20,5H12.66a1,1,0,0,0,0,2H20a1,1,0,0,1,1,1v7.34a1,1,0,1,0,2,0V8A3,3,0,0,0,20,5Zm-1,7a1,1,0,1,0-1,1A1,1,0,0,0,19,12Z" />
                                                </svg>
                                            <h1 class="text-4xl  text-center md:px-5 px-2">Official Nonprofit</h1>
                                            <p>We have become a recognized nonprofit organization</p>

                                            <p></p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


            </center>
        </div>
    </div>

    <div data-aos="smooth" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out-cubic">
        <center>
            <h1 style='font-weight: bold' class='text-4xl mt-52   sm:mt-52 lg:mt-72 lg:text-4xl  sm:text-3xl'>What
                People
                Are
                Saying</h1>
        </center>

        <center>

            <div class='mt-10 mx-2'>
                <div>
                    <div class="w-full transition hover:shadow-xl  rounded-lg bg-white  px-5 pt-5 pb-10 text-gray-800"
                        style="max-width: 1000px">

                        <div class="w-full mb-0">
                            <div class="text-5xl text-indigo-500 text-left leading-tight h-7">“</div>
                            <p class="text-lg text-gray-600 text-center md:px-5 px-2 ">This was an excellent
                                experience for my
                                son... The tutor was extremely helpful, encouraging, and went above and beyond to
                                help
                                him
                                with the subject matter. Even made up some test questions! I am amazed at how
                                professional
                                and mature this young man is. Thank you for doing this!</p>
                            <div class="text-5xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
                        </div>

                    </div>
                </div>

            </div>
            <div>
                <div class=" mx-0 py-5 ">
                    <div class="w-full transition hover:shadow-xl rounded-lg bg-white px-5 pt-2 pb-4 text-gray-800"
                        style="max-width: 1000px">

                        <div class="w-full pt-7 pb-7 ">
                            <div class="text-5xl text-indigo-500 text-left leading-tight h-7">“</div>
                            <p class="text-lg text-gray-600 text-center md:px-5 px-2">The tutor was very
                                informative,
                                knowledgeable, and patient with me. He answered all my questions and left me
                                understanding and grasping the concept better.</p>
                            <div class="text-5xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
                        </div>

                    </div>
                </div>

            </div>

        </center>
    </div>
</div>

<div class="dialog rounded-xl shadow-2xl">
    <span class="dialog__close">
        <svg xmlns="https://www.w3.org/2000/svg" class="h-6 w-6 mt-2" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </span>
    <h2 class="dialog__title" style='font-weight: bold'><strong>COVID-19 Info</strong></h2>
    <div class="dialog__content ">
        <p>Due to the COVID-19 pandemic, we are holding all of our TUTORING SERVICES ON ZOOM AND GOOGLE MEET. There
            will be no in-person sessions for the time being. Please check out the FAQs section on our Contact Us
            page if you have more questions.</p>
        <!-- <div class="flex items-start">
            <div class="flex items-center h-5">
                <input id="cbx1" name="cbx1" type="checkbox"
                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
            </div>
            <div class="ml-3 text-sm">
                <label for="comments" class="font-medium text-gray-700">Don't show again</label>
            </div>
        </div> -->
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3NNZ99RFPC"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3NNZ99RFPC');
</script>
<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        responsiveClass: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 10000,
        autoHeight: true,

        responsive: {
            0: {
                items: 1,
                loop: true,

            },


        }

    });

    $('.owl-next').click(function() {
        owl.trigger('next.owl.carousel');
    })
    // Go to the previous item
    $('.owl-prev').click(function() {
        // With optional speed parameter
        // Parameters has to be in square bracket '[]'
        owl.trigger('prev.owl.carousel', [300]);
    })
</script>


<!-- <center><div id="map" class='rounded'></div></center> -->

<!-- <script>
        


let map;

function initMap() {
    const myLatLng = { lat: 40.870950, lng: -73.164850 };
    const myLatLng2 = { lat: 40.862659, lng: -73.241722 };

    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4.3,
      center: myLatLng,
    });
    new google.maps.Marker({
      position: myLatLng,
      map,
    });

    new google.maps.Marker({
        position: myLatLng2,
        map,
      });
   
  }


  $(document).ready(function(){
      initMap();
  })
    </script>

    <style>
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 80%;
            position: relative;
            /* The width is the width of the web page */
          }
    </style>

 
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEyUM1QKN1fsSccp3JI-YYbS3ADleqMZE&callback=initMap&libraries=&v=weekly"
    async
  ></script> -->



<%- include('./partials/_footer.ejs'); %>