<%- include('./partials/_header.ejs'); %>

<%- include('./partials/_initAnimation.ejs'); %>

<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">
    <center >
        <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl'>How It Works</h1>
        <p>A Step-By-Step Guide To Our Process</p>
    </center>

    <div id='works' class='mt-10'>
        <div class="container mx-auto flex flex-wrap pt-4 pb-12">
            <div class="w-full lg:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                <div class="flex-1 rounded-lg overflow-hidden">
                    <center>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                    </center>
                    <div class="w-full font-bold text-2xl text-black px-6 pt-4 text-center ">
                        1. Sign Up
                    </div>
                    <p class="text-black text-base px-10 py-5 text-center">Take a look at the courses we offer tutoring
                        in (below), fill out the sign up sheet for your desired time and subject area so we can match
                        you up for a tutoring session with one of our tutors. Once you sign up, we will send you an
                        email acknowledging your request
                    </p>
                </div>

                <center>
                    <p class='mt-0 text-xs mx-10'>Note: Please try and sign up 2 days in advance of your desired session
                        time so we can reach out to our tutors faster</p>
                </center>
            </div>
            <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                <div class="flex-1 rounded-lg overflow-hidden ">
                    <center>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                    </center>
                    <div style='margin-top: 7px;' class="w-full font-bold text-2xl text-black px-6 pt-4 text-center ">
                        2. Confirmation
                    </div>
                    <p class="text-black text-base px-10 pt-5 mb-5 text-center ">Once one of our tutors have let us know
                        that they can help you out, they will send you an email confirming your scheduled session.
                        Please send any material you need help with prior to the start of the session.<br><br>
                    </p>

                    <center>
                        <p class='md:pt-5 text-xs mx-10'>Disclaimer: Some of the classes we tutor have limited tutors, so
                            you may not be able to get the time you request</p>
                    </center>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink md:mt-10">
                <div class="flex-1 rounded-lg overflow-hidden ">
                    <center>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
                    </center>
                    <div class="w-full font-bold text-2xl text-black px-6 pt-4 text-center ">
                        3. Tutoring Session
                    </div>
                    <p class="text-black text-base px-10 pt-5 mb-5 text-center ">Our tutors will help you with any
                        questions you may have during your session and work on any material you have. We will also give
                        you some practice so you understand the material.
                        
                    </p>
                </div>

            </div>
            <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink md:mt-10">
                <div class="flex-1 rounded-lg overflow-hidden ">
                    <center>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                        </svg>
                    </center>
                    <div style='margin-top: 5px;' class="w-full font-bold text-2xl text-black px-6 pt-4 text-center ">
                        4. Feedback
                    </div>
                    <p class="text-black text-base px-10 pt-5 mb-5 text-center ">We love feedback! It would be greatly
                        appreciated if you fill out the feedback form sent to you in our first email so that we can
                        improve our services.
                        <br><br><br>
                    </p>
                </div>

            </div>
        </div>

        <center>
            <h1 style='font-weight: bold; ' class='text-4xl mt-20 lg:text-4xl sm:text-3xl'>Courses We Tutor</h1>
        </center>

        <div id='works' class=''>
            <div class="container mx-auto flex flex-wrap pb-12">

                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 rounded-lg overflow-hidden ">

                        <div class="w-full font-bold text-2xl text-black text-center ">
                            AP Courses
                        </div>
                        <center>
                            <p style='margin-top: 20px;'>

                                AP World History
                                <br>
                                AP European History
                                <br>
                                AP Biology
                                <br>
                                AP Physics I
                                <br>
                                AP Calculus BC
                            </p>
                        </center>
                    </div>

                </div>
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 rounded-lg overflow-hidden ">

                        <div class="w-full font-bold text-2xl text-black px-6 text-center ">
                            Regents Courses
                        </div>
                        <center>
                            <p>
                                <br>
                                Algebra I
                                <br>
                                Algebra II
                                <br>
                                Geometry
                                <br>
                                Global History
                                <br>
                                Earth Science
                                <br>
                                Living Environment/Biology
                            </p>
                        </center>
                    </div>

                </div>
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 rounded-lg overflow-hidden ">

                        <div class="w-full font-bold text-2xl text-black px-6 text-center ">
                            Other Courses
                        </div>
                        <center>
                            <p>
                                <br>
                                Spanish (1-4)
                                <br>
                                French (1-5)
                                <br>
                                German (1-3)
                                <br>
                                Italian (1-4)
                                <br>
                                Introduction to Computer Science
                                <br>
                                PLTW Principles of Biomedical Science
                                <br>
                                By request
                            </p>
                        </center>
                    </div>

                </div>

            </div>

        </div>

        <center>
            <h1 style='font-weight: bold; ' class='text-4xl mt-20 lg:text-4xl sm:text-3xl'>How We Help</h1>
        </center>

        <div>
            <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
                <!--Card 1-->
                <div class="rounded-lg overflow-hidden transition hover:shadow-2xl">
                    <img class="w-full my-12 pt-1"
                        src="/images/material.png"
                        alt="Mountain">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Study Materials</div>
                        <p class="text-gray-700 text-base">
                            We have practice problems and test preparation resources to help you flourish.
                        </p>
                    </div>

                </div>
                <!--Card 2-->
                <div class="rounded-lg overflow-hidden transition hover:shadow-2xl">
                    <img class="w-full mt-3"
                        src="https://static.vecteezy.com/system/resources/previews/002/211/354/non_2x/teacher-with-white-board-vector.jpg"
                        alt="River">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Study Tips and Strategies</div>
                        <p class="text-gray-700 text-base">
                            Remember, we took these courses!
                            We learned the strategies and applied them with success. Now we can share them with you!
                        </p>
                    </div>
                </div>

                <!--Card 3-->
                <div class="rounded-lg overflow-hidden transition hover:shadow-2xl">
                    <img class="w-full"
                        src="https://img.freepik.com/free-vector/people-ask-question_102902-2341.jpg?size=626&ext=jpg"
                        alt="Forest">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Answer Confusing Questions
                        </div>
                        <p class="text-gray-700 text-base">
                            The best way to learn is to actively ask questions and clarify confusing topics before they
                            come up again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/_footer.ejs'); %>