<%- include('../partials/_header.ejs'); %>
<%- include('../partials/_initAnimation.ejs'); %>
<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">
<center>
    <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl mb-10'>Create a Branch</h1>
    <p class='md:mx-40 sm:mx-10 mt-11 mx-10 text-lg max-w-4xl'>
        If you are interested in starting a branch of PeerLab Tutoring, fill out this application! This is an amazing opportunity to help your community and gain leadership experience. You must sign up with a team of 3-5 students.
    </p>

    <iframe class='w-11/12' src="https://forms.gle/5xnU1gftXETMeCoG9" width="640" height="1773" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></center>
</div>
<%- include('../partials/_footer.ejs'); %>
