<%- include('../partials/_header.ejs'); %>
<%- include('../partials/_initAnimation.ejs'); %>

<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">

    <center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl'>Study Resources</h1>

    </center>
    <center>
        <p class='md:mx-40 sm:mx-10 mt-11 mx-10 text-lg max-w-4xl'>
            Are you looking for extra material to help you get ahead in school next year? We provided links to some
            worksheet and content that we believe will be helpful for each of the classes. Feel free to contact us if
            you run into a problem with information or if you decide you need a tutor to help. </p>
    </center>

    <div>
        <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-5 mb-10">
            <!--Card 1-->
            <div class="rounded-lg overflow-hidden transition hover:shadow-2xl">
                <img class="w-full my-10"
                    src="https://www.real.discount/wp-content/uploads/2020/12/2306338_5e49_3-1.jpg" alt="Mountain">
                <div class="px-6">
                    <div class="font-bold text-xl mb-2 pt-1">Mathematics</div>
                    <p class="text-gray-700 text-base">
                        <strong>Material Available for:</strong>
                        <br> Math 7
                        <br> Pre-Algebra
                        <br> Algebra 1
                        <br> Geometry
                        <br> Algebra 2
                        <br> Introduction to Calculus
                    </p>
                </div>

            </div>
            <!--Card 2-->
            <div class="rounded-lg overflow-hidden transition hover:shadow-2xl">
                <img class="w-full" src="https://i.pinimg.com/564x/76/95/f7/7695f7ba455195fda067e1104f56979c.jpg"
                    alt="River">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Science</div>
                    <p class="text-gray-700 text-base">
                        <strong>Material Available for:</strong>
                        <br> Living Environment
                        <br> Earth Science
                        <br> AP Bio
                    </p>
                </div>
            </div>

            <!--Card 3-->
            <div class="rounded-lg overflow-hidden transition hover:shadow-2xl">
                <img class="w-full"
                    src="https://cdn.dribbble.com/users/877246/screenshots/15177340/media/54f21c9ac1fbcebfe3f3a664dcae5d41.png?compress=1&resize=800x600"
                    alt="Forest">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Social Studies
                    </div>
                    <p class="text-gray-700 text-base">
                        <strong>Material Available for:</strong>
                        <br>Pre-AP World History
                        <br>AP World History
                        <br>AP European History
                    </p>
                </div>
            </div>
            <!--Card 3-->
            <div class="rounded-lg overflow-hidden transition hover:shadow-2xl">
                <img class="w-full"
                    src="https://cdn.dribbble.com/users/942699/screenshots/7063278/media/5b68e46443407edc27f535ccb4883f5c.png?compress=1&resize=1000x750"
                    alt="Forest">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Other Classes
                    </div>
                    <p class="text-gray-700 text-base">
                        The best way to learn is to actively ask questions and clarify confusing topics before they
                        come up again.
                    </p>
                </div>
            </div>
        </div>
        <div class='ml-20'>

                <center><h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl'>Resources / Study Plans
                </h1></center>



                <strong class='mt-10'>Regents Practice Materials</strong>
                <br>
                ​​

                <ul class="font_9 color_11">
                    
                    <li style="line-height:1.875em">
                        <p>Class notes</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Review sheets</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>School tests and quizzes </p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Practice Tests</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Math</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&nbsp; JMAP for regents practice tests​</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Ask your tutor for practice problems</p>
                    </li>

                    <strong class='mt-10'>AP Practice Materials</strong>
                <br>

                <li style="line-height:1.875em">
                    <p>Class notes</p>
                </li>
                <li style="line-height:1.875em">
                    <p>Class Tests and Quizzes​</p>
                </li>
                <li style="line-height:1.875em">
                    <p>College Board Archived Exams </p>
                </li>
                
                    <li style="line-height:1.875em">
                        <p>AP Youtube Videos</p>

                        <ul class="font_9 color_11">
                            <li style="line-height:1.875em">
                                <p><span style="text-decoration:underline"><a
                                            href="https://www.youtube.com/user/advancedplacement" target="_blank"
                                            rel="nofollow noopener">&emsp; https://www.youtube.com/user/advancedplacement</a>
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Quizlets</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Go back to school tests and quizzes that might be relevant to the students</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Textbooks</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Review Books (Princeton Review, Barrons, Kaplan, Pearson, 5 Steps to a 5)</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>CED practice questions</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Khan Academy</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Albert.io questions</p>
                    </li>
                </ul>
                </li>
                <p><strong>AP Biology</strong></p>
                <ul class="font_9 color_11">
                    <li style="line-height:1.875em">
                        <p>Boseman biology</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Amoeba Sisters</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a href="https://app.fiveable.me/ap-bio"
                                    target="_blank" rel="nofollow noopener">Fiveable AP bio</a></p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>Mastering Biology (has to be offered by your teacher)</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a href="https://www.screencast.com/t/cSUFscRV4"
                                    target="_blank" rel="nofollow noopener">&emsp; Screencast Bio Videos</a></p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a
                                    href="https://www.explorebiology.com/apbiology/notes/" target="_blank"
                                    rel="nofollow noopener">&emsp; Wide Variety of AP Bio Resources</a></p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a
                                    href="https://www.phschool.com/science/biology_place/labbench/" target="_blank"
                                    rel="nofollow noopener">&emsp; All AP Bio Labs</a></p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a
                                    href="https://quizlet.com/22315269/ultimate-ap-biology-vocabulary-review-flash-cards/"
                                    target="_blank" rel="nofollow noopener">&emsp;AP Biology Quizlet</a></p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a
                                    href="https://www.biologyalive.com/life/index-2.html" target="_blank"
                                    rel="nofollow noopener">&emsp;Lots of Prep Resources</a></p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a href="https://www.cellsalive.com/" target="_blank"
                                    rel="nofollow noopener">&emsp;Mitosis, Meiosis, Cell Cycle</a></p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;POGIL activities</p>
                    </li>
                </ul>
                </li>
                <p><strong>AP World</strong></p>
                

                <ul class="font_9 color_11">
                    <li style="line-height:1.875em">
                        <p>&emsp; Heimler&rsquo;s History</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp; Anti-Social Studies</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp; Unit Outlines/Key Concepts</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp; Mastering AP Modern World History: A Practice Book for Students (by Teachers)</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp; Practice Tests and Grading</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a
                                    href="https://blog.prepscholar.com/ap-world-history-review" target="_blank"
                                    rel="nofollow noopener">&emsp;https://blog.prepscholar.com/ap-world-history-review</a></p>
                    </li>
                </ul>


                <p><strong>APUSH</strong></p>

                <ul class="font_9 color_11">
                    <li style="line-height:1.875em">
                        <p>&emsp;Heimler&rsquo;s History</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;Anti-Social Studies</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;Unit Outlines/Key Concepts</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a
                                    href="https://blog.prepscholar.com/ap-us-history-study-guide" target="_blank"
                                    rel="nofollow noopener">&emsp; https://blog.prepscholar.com/ap-us-history-study-guide</a>
                        </p>
                    </li>
                </ul>

                <p><strong>AP Physics</strong></p>

                <ul class="font_9 color_11">
                    <li style="line-height:1.875em">
                        <p><span style="text-decoration:underline"><a
                                    href="https://www.appracticeexams.com/ap-physics-1/practice-exams/" target="_blank"
                                    rel="nofollow noopener">&emsp; https://www.appracticeexams.com/ap-physics-1/practice-exams/</a>
                        </p>
                    </li>
                </ul>


                <p><strong>Calculus</strong></p>

                <ul>
                    <li style="line-height:1.875em">
                        <p>&emsp;Mathispower4u (Youtube)</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;Krista King (Youtube)</p>
                    </li>
                </ul>

                <p><strong>General Study Material</strong></p>

                <ul>
                    <li style="line-height:1.875em">
                        <p>&emsp;1. Take a practice test from CollegeBoard</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;2. Evaluate Results and Weaknesses</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;3. Review</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;&emsp;Buy a Review Book or use school notes</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;&emsp;Watch Videos</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;&emsp;Use the “easy” practice material given</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;4. Practice</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;&emsp;Use real AP questions to practice as review books do not usually have the level of questions that AP exams have </p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;&emsp;Alternate this with your review days </p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;5. Study with a friend, draw out diagrams, make review sheets of material to cover it in different ways</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;6. Continue to practice with real questions and evaluate weaknesses</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;7. Sort out all weaknesses</p>
                    </li>
                    <li style="line-height:1.875em">
                        <p>&emsp;8. Establish strategies for how you will approach multiple-choice questions and FRQs</p>
                    </li>

                </ul>



        </div>
    </div>



</div>
<%- include('../partials/_footer.ejs'); %>