<%- include('../partials/_header.ejs'); %>
<%- include('../partials/_initAnimation.ejs'); %>
<%- include('../partials/_teamPics.ejs'); %>

<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">

    <center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl'>Our Team</h1>
        
    </center>


    <!--<center>
        <br>Jonathan Chung: President and Founder 
        <br>Aman Mistry: President and Founder 
        <br>Justin Hippler: Vice-President
        <br>Sophia Augier: Director of Tutor Relations
        <br>Brett Carnival: Director of Outreach
        <br>Isabel Ajit: Director of Social Media
        <br>Aaquib Syed: Director of Technology
    </center>-->

    <center>
        <div class="grid grid-cols-3 grid-rows-3 px-10 py-5 mx-auto">
            <div>
                <img class="h-64 w-64 object-cover object-center" src="/images/aman_pic.jpg" alt="Aman Mistry">
                <p class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">President and Founder</p>   
                <p class="px-5">My name is Aman Mistry and I am a freshman at the Stony Brook Scholars for Medicine Program.
                    I am the captain of the Science Olympiad team and in my free time I like to play golf with my friends.</p>
            </div>
            <div>
                <img class="h-64 w-64 object-cover" src="/images/jonathan_pic.jpeg" alt="Jonathan Chung">
                <p class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">President and Founder</p> 
                <p class="px-5">My name is Jonathan Chung and I'm currently a freshman at Tufts University. 
                I am the co-captain of the Science Olympiad Team and in my free time, I enjoy traveling, hiking and photography.</p>   
            </div>
            <div>
                <img class="h-64 w-64 object-cover object-top" src="/images/justin_pic.jpg" alt="Justin Hippler">
                <p class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Vice-President</p> 
                <p class="px-5">My name is Justin Hippler and I am a freshman at the Northeastern University Honors Program. I am passionate about science, discovery, learning and teaching. 
                    In my free time, I enjoy going to the movie theater, playing tennis, and trying new foods.</p>
            </div>
            <div>
                <img class="h-64 w-64 object-cover" src="/images/aaquib_pic.jpg" alt="Aaquib Syed">
                <p class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Director of Technology</p>   
                <p class="px-5">Hi! My name is Aaquib Syed and I'm a freshman at the University of Maryland Honors Program. I am also the Vice President of Engineering at
                    Smithtown Robotics. In my free time, I enjoy running and working out with my friends.
                </p>
            </div>
            <div>
                <img class="h-64 w-64 object-cover" src="/images/brett_pic.jpg" alt="Brett Carnival">
                <p class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2 align-bottom">Director of Outreach</p> 
                <p class="px-5">My name is Brett Carnival and I am a freshman at the University of Florida Honors Program. 
                    I’m President of the Mock Trial club and Secretary of the Science Olympiad clubs at my school, and I play Varsity Tennis.</p>
            </div>
            <div>
                <img class="h-64 w-64 object-cover" src="/images/isabel_pic.jpg" alt="Isabel Ajit">
                <p class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Director of Social Media</p> 
                <p class="px-5">My name is Isabel Ajit and I am a freshman at the University of Connecticut. My hobbies include singing, dancing, and tutoring!</p>
            </div>
            <div></div>
            <div>
                <img class="h-64 w-64 object-cover" src="/images/sophia_pic.jpg" alt="Sophia Augier">
                <p class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Director of Tutor Relations</p>   
                <p class="px-5">My name is Sophia Augier and I'm a senior at Smithtown High School East. 
                    In my free time, I enjoy robotics, backpacking upstate, cooking, and reading.</p>
            </div>
        </div>
    </center>
    <!--<center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-20 lg:text-4xl sm:text-3xl'>Tutors</h1>
        
    </center>

    <center>
    Cailey Bobadilla
    <br>Zachary Finger​
    <br>Bianca Kusko
    <br>Joseph Zimbler
    <br>Abhiram Marisetti
    <br>Sofia Ragona
    <br>Leigh Baratta 
    <br>Alexis Milburn
    <br>Samantha Micozzi
    <br>Joseph Zimbler
    <br>Sofia Sininsky
    <br>Matthew Dowd
    <br>Tyler Nagosky
    <br>Taylor Koehler
    <br>Jason Schmideler
    <br>Liza Lleshaj
    </center>-->
</div>
<%- include('../partials/_footer.ejs'); %>