<%- include('../partials/_header.ejs'); %>
<%- include('../partials/_initAnimation.ejs'); %>

<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">

    <center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl'>Our Team</h1>
        
    </center>


    <center>
        <br>Jonathan Chung: President and Founder 
        <br>Aman Mistry: President and Founder 
        <br>Justin Hippler: Vice-President
        <br>Sophia Augier
    </center>


    <center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-20 lg:text-4xl sm:text-3xl'>Tutors</h1>
        
    </center>

    <center>
    Cailey Bobadilla

<br>Zachary Finger​

<br>Bianca Kusko

<br>Joseph Zimbler

<br>Abhiram Marisetti

<br>Sofia Ragona

<br>Leigh Baratta 

<br>Alexis Milburn

<br>Samantha Micozzi

<br>Joseph Zimbler

<br>Sofia Sininsky

Matthew Dowd

<br>Tyler Nagosky

<br>Aaquib Syed

<br>Taylor Koehler

<br>Jason Schmideler

<br>Brett Carnival

<br>Isabel Ajit

<br>Liza Lleshaj
    </center>
</div>
<%- include('../partials/_footer.ejs'); %>