<%- include('../partials/_header.ejs'); %>
<%- include('../partials/_initAnimation.ejs'); %>

<div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">

    <center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-56 lg:text-4xl sm:text-3xl'>Become a Tutor</h1>

    </center>
    <center>
        <p class='md:mx-40 sm:mx-10 mt-11 mx-10 text-lg max-w-4xl'>
            Do you like teaching others? Do you like working with your peers and serving as a role model? If so, feel
            free to fill out this application to be considered for a position at PeerLab. Please fill this out if you
            are in high school and we will get back to you soon. If you have any questions, please check out our FAQs
            page.

        </p>
    </center>
    <center>
        <div class="lg:pt-2 sm:pt-10 pt-44">
            <button onclick='window.location.href="form/tutor"'
                class="transition  px-4 bg-indigo-500 p-3 mt-5 rounded-lg text-white hover:bg-indigo-400">Submit an
                Application</button>
        </div>
    </center>

    <div>

        <center>
            <h1 style='font-weight: bold; ' class='text-4xl mt-44 mb-1 lg:text-4xl sm:text-3xl'>Why Should I Apply?</h1>

            <p>
                <br>
                Community Service Hours
                <br>
                Bolster college application
                <br>
                Help students excel
                <br>
                Gain a deeper understanding in your subject
                <br>
                Give students more resources
                <br>
                Learn to work in a new environment
                <br>
                Develop communication skills
                <br>
            </p>
        </center>
    </div>
    <div>
        
        <center>
        <h1 style='font-weight: bold; ' class='text-4xl mt-44 mb-1 lg:text-4xl sm:text-3xl'>Responsibilities</h1>
        
        <p>
            <br>
            Planning material before tutoring session
            <br>
            Emailing parent/student upon confirmation of a session
            <br>
            Creating a Google Meet/Zoom invite link to send to student
            <br>
            Contact parents (if needed)
            <br>
        </p>
    </center>
    </div>
</div>
<%- include('../partials/_footer.ejs'); %>